@charset "UTF-8";
/*Imports*/
/*Variables*/
/*Paletas de Colores*/
/*Fuente tipografica*/
/* Maps y otras variables*/
/*Variables*/
/*Paletas de Colores*/
/*Fuente tipografica*/
/* Maps y otras variables*/
/*Body*/
body {
  background-color: #0b090a;
  color: #f5f3f4;
  display: flex;
  flex-direction: column;
  text-align: center; }

/*Contenido*/
section.body__contenido {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*Primera Frase*/
  /*Segunda Frase*/ }
  section.body__contenido div.contenido__primeraFrase {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 40vh;
    margin-top: 15vh;
    margin-bottom: 15vh;
    padding: 5vh 0;
    font-size: 1.5rem;
    font-weight: 300;
    transition: 3s; }
    section.body__contenido div.contenido__primeraFrase p {
      width: 40vw; }
    section.body__contenido div.contenido__primeraFrase .primeraFrase__autor {
      font-size: 1.1rem; }
  section.body__contenido div.contenido__segundaFrase {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6), #0b090a), linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6), #0b090a), url(../image/imagenprincipal.png);
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    width: 100vw;
    height: 70vh;
    padding: 10vh 0;
    font-size: 1.5rem;
    font-weight: 300; }
    section.body__contenido div.contenido__segundaFrase p {
      width: 40vw; }
    section.body__contenido div.contenido__segundaFrase .segundaFrase__autor {
      font-size: 1.1rem; }

section.contenidoContacto {
  display: flex;
  flex-direction: column;
  align-items: center; }
  section.contenidoContacto h1.titularDelContenido {
    font-family: "Lato", sans-serif;
    font-size: 1.9rem;
    font-weight: 200;
    padding-top: 8vh;
    padding-bottom: 8vh; }
  section.contenidoContacto div.contenidoContacto__formulario {
    height: 100vh; }

/* Sobre mi*/
div.contenido__parrafosDelContenido {
  background-color: #534e51;
  margin: 10vh 1.5vw;
  border-radius: 20px; }
  div.contenido__parrafosDelContenido h3.titularDelContenido {
    font-family: "Lato", sans-serif;
    font-size: 40px;
    font-weight: 200;
    padding-top: 8vh; }
  div.contenido__parrafosDelContenido p {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: justify; }

/*Variables*/
/*Paletas de Colores*/
/*Fuente tipografica*/
/* Maps y otras variables*/
/*Imagen Principal dentro del header*/
header.body__index {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75), #0b090a), url(../image/imagenprincipal.png);
  height: 110vh;
  width: 100vw;
  background-position: center center;
  background-size: cover; }

header.body__sobremi {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7), #0b090a), url(../image/imagenprincipal.png);
  height: 110vh;
  width: 100vw;
  background-position: center center;
  background-size: cover; }

header.body__galeria {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7), #0b090a), url(../image/imagenprincipal.png);
  height: 110vh;
  width: 100vw;
  background-position: center center;
  background-size: cover; }

header.body__videos {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7), #0b090a), url(../image/imagenprincipal.png);
  height: 110vh;
  width: 100vw;
  background-position: center center;
  background-size: cover; }

header.body__partituras {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7), #0b090a), url(../image/imagenprincipal.png);
  height: 110vh;
  width: 100vw;
  background-position: center center;
  background-size: cover; }

header.body__contacto {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7), #0b090a), url(../image/imagenprincipal.png);
  height: 110vh;
  width: 100vw;
  background-position: center center;
  background-size: cover; }

/*estilos para barra de navegación con submenu*/
header nav.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 10px 30px 0 30px;
  background: rgba(0, 0, 0, 0.1);
  visibility: hidden;
  /*background: linear-gradient(to top, $negro 0%, $negro 40%,$rosaoscuro 100%);*/ }

header .header__barraDeNavegacion buttom {
  visibility: visible; }

header .header__barraDeNavegacion a {
  font-size: 1.3rem;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.8s;
  letter-spacing: 0.1vw;
  visibility: visible;
  animation-name: fadeIn;
  animation-duration: 2s; }

header span.navbar-text {
  transition: all 0.8s;
  font-size: 1.3rem;
  font-weight: 400;
  visibility: visible; }

header .logo {
  border-radius: 500px;
  width: 5vw; }

header .navbar a.nav-link:hover, header span.navbar-text:hover {
  color: #f1f0f0 !important; }

header h1.header__titulo {
  font-size: 50px;
  text-align: center;
  font-weight: lighter;
  padding-top: 60vh;
  color: #b3adad;
  visibility: visible;
  animation-name: fadeIn;
  animation-duration: 2s; }

/*Variables*/
/*Paletas de Colores*/
/*Fuente tipografica*/
/* Maps y otras variables*/
/*Grid seccion de experiencias index*/
section.contenido__muestraExperiencias {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6), #0b090a), linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6), #0b090a), url(../image/imagenprincipal.png);
  background-position: center center;
  background-size: cover;
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
  grid-template-rows: 1fr,1fr,1fr;
  grid-gap: 2%;
  grid-template-areas: "titulo  titulo  titulo  titulo  titulo" "video   imagen1  texto1  imagen2 texto2"  "pievid  nombre1 nombre1 nombre2 nombre2";
  padding: 10px 3vw;
  height: 100vh;
  width: 100vw; }
  section.contenido__muestraExperiencias h1.titulo {
    grid-area: titulo;
    font-family: "Lato", sans-serif;
    font-size: 40px;
    font-weight: 300; }
  section.contenido__muestraExperiencias iframe.video {
    grid-area: video;
    height: 40vh;
    width: 33vw;
    box-shadow: 8px 8px 40px black, -8px -8px 40px black, 8px -8px 40px black, -8px 8px 40px black;
    transition: transform 0.2s; }
  section.contenido__muestraExperiencias p.pievideo {
    grid-area: pievid;
    font-size: 25px;
    font-weight: 300; }
  section.contenido__muestraExperiencias img.alumno1 {
    grid-area: imagen1;
    background-image: url(../image/2.png);
    background-size: cover;
    background-position: center center;
    height: 40vh;
    width: 13vw;
    box-shadow: 8px 8px 40px black, -8px -8px 40px black, 8px -8px 40px black, -8px 8px 40px black;
    transition: transform 0.2s; }
  section.contenido__muestraExperiencias h2.nombre1 {
    grid-area: nombre1;
    font-weight: 300;
    font-size: 25px;
    height: 15vh; }
  section.contenido__muestraExperiencias p.texto1 {
    grid-area: texto1;
    text-align: justify; }
  section.contenido__muestraExperiencias img.alumno2 {
    grid-area: imagen2;
    background-image: url(../image/5.png);
    background-size: cover;
    background-position: center center;
    height: 40vh;
    width: 13vw;
    box-shadow: 8px 8px 40px black, -8px -8px 40px black, 8px -8px 40px black, -8px 8px 40px black;
    transition: transform 0.2s; }
  section.contenido__muestraExperiencias h2.nombre2 {
    grid-area: nombre2;
    font-weight: 300;
    font-size: 25px; }
  section.contenido__muestraExperiencias p.texto2 {
    grid-area: texto2;
    text-align: justify; }

/* Galeria Imagenes */
div.contenido__galeriaImagenes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2%;
  grid-template-areas: "titulogal titulogal titulogal" "galeria1  galeria2  galeria3" "pie1      pie2      pie3" "galeria4  galeria5  galeria6" "pie4      pie5      pie6";
  padding: 50px 30px;
  height: 170vh;
  width: 97vw;
  margin-left: 1vw; }
  div.contenido__galeriaImagenes h3.titularDelContenido {
    grid-area: titulogal;
    font-family: "Lato", sans-serif;
    font-size: 40px;
    font-weight: 200; }
  div.contenido__galeriaImagenes img.galeria1 {
    grid-area: galeria1;
    background-image: url(../image/12.png);
    background-size: cover;
    height: 50vh;
    width: 25vw; }
  div.contenido__galeriaImagenes img.galeria2 {
    grid-area: galeria2;
    background-image: url(../image/11.png);
    background-size: cover;
    height: 50vh;
    width: 25vw; }
  div.contenido__galeriaImagenes img.galeria3 {
    grid-area: galeria3;
    background-image: url(../image/fondofrase.jpg);
    background-size: cover;
    height: 50vh;
    width: 25vw; }
  div.contenido__galeriaImagenes img.galeria4 {
    grid-area: galeria4;
    background-image: url(../image/15.png);
    background-size: cover;
    height: 50vh;
    width: 25vw; }
  div.contenido__galeriaImagenes img.galeria5 {
    grid-area: galeria5;
    background-image: url(../image/21.png);
    background-size: cover;
    height: 50vh;
    width: 25vw; }
  div.contenido__galeriaImagenes img.galeria6 {
    grid-area: galeria6;
    background-image: url(../image/23.png);
    background-size: cover;
    height: 50vh;
    width: 25vw; }
  div.contenido__galeriaImagenes p.pieDeArchivo1 {
    grid-area: pie1;
    text-align: center; }
  div.contenido__galeriaImagenes p.pieDeArchivo2 {
    grid-area: pie2;
    text-align: center; }
  div.contenido__galeriaImagenes p.pieDeArchivo3 {
    grid-area: pie3;
    text-align: center; }
  div.contenido__galeriaImagenes p.pieDeArchivo4 {
    grid-area: pie4;
    text-align: center; }
  div.contenido__galeriaImagenes p.pieDeArchivo5 {
    grid-area: pie5;
    text-align: center; }
  div.contenido__galeriaImagenes p.pieDeArchivo6 {
    grid-area: pie6;
    text-align: center; }

/* Galeria Videos */
div.galeriaVideo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2%;
  grid-template-areas: "titulogalvid titulogalvid titulogalvid" "video1         video2      video3" "pievideo1      pievideo2      pievideo3" "video4         video5          video6" "pievideo4      pievideo5      pievideo6";
  padding: 50px 30px;
  height: 170vh;
  width: 97vw;
  margin-left: 1vw; }
  div.galeriaVideo h3.titularDeVideo {
    grid-area: titulogalvid;
    font-family: "Lato", sans-serif;
    font-size: 40px;
    font-weight: 200; }
  div.galeriaVideo iframe.video1 {
    grid-area: video1;
    height: 50vh;
    width: 30vw; }
  div.galeriaVideo iframe.video2 {
    grid-area: video2;
    height: 50vh;
    width: 30vw; }
  div.galeriaVideo iframe.video3 {
    grid-area: video3;
    height: 50vh;
    width: 30vw; }
  div.galeriaVideo iframe.video4 {
    grid-area: video4;
    height: 50vh;
    width: 30vw; }
  div.galeriaVideo iframe.video5 {
    grid-area: video5;
    height: 50vh;
    width: 30vw; }
  div.galeriaVideo iframe.video6 {
    grid-area: video6;
    height: 50vh;
    width: 30vw; }
  div.galeriaVideo p.pieDeArchivo1 {
    grid-area: pievideo1;
    text-align: center; }
  div.galeriaVideo p.pieDeArchivo2 {
    grid-area: pievideo2;
    text-align: center; }
  div.galeriaVideo p.pieDeArchivo3 {
    grid-area: pievideo3;
    text-align: center; }
  div.galeriaVideo p.pieDeArchivo4 {
    grid-area: pievideo4;
    text-align: center; }
  div.galeriaVideo p.pieDeArchivo5 {
    grid-area: pievideo5;
    text-align: center; }
  div.galeriaVideo p.pieDeArchivo6 {
    grid-area: pievideo6;
    text-align: center; }

/* Partituras */
div.gridPartituras {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2%;
  grid-template-areas: "titulopartitura titulopartitura titulopartitura" "partitura1  partitura2  partitura3" "pie1      pie2      pie3" "partitura4  partitura5  partitura6" "pie4      pie5      pie6";
  padding: 50px 30px;
  height: 170vh;
  width: 97vw;
  margin-left: 1vw; }
  div.gridPartituras h3.titularDePartituras {
    grid-area: titulopartitura;
    font-family: "Lato", sans-serif;
    font-size: 40px;
    font-weight: 200; }
  div.gridPartituras iframe.partitura1 {
    grid-area: partitura1;
    height: 50vh;
    width: 30vw; }
  div.gridPartituras iframe.partitura2 {
    grid-area: partitura2;
    height: 50vh;
    width: 30vw; }
  div.gridPartituras iframe.partitura3 {
    grid-area: partitura3;
    height: 50vh;
    width: 30vw; }
  div.gridPartituras iframe.partitura4 {
    grid-area: partitura4;
    height: 50vh;
    width: 30vw; }
  div.gridPartituras iframe.partitura5 {
    grid-area: partitura5;
    height: 50vh;
    width: 30vw; }
  div.gridPartituras iframe.partitura6 {
    grid-area: partitura6;
    height: 50vh;
    width: 30vw; }
  div.gridPartituras p.pieDeArchivo1 {
    grid-area: pie1;
    text-align: center; }
  div.gridPartituras p.pieDeArchivo2 {
    grid-area: pie2;
    text-align: center; }
  div.gridPartituras p.pieDeArchivo3 {
    grid-area: pie3;
    text-align: center; }
  div.gridPartituras p.pieDeArchivo4 {
    grid-area: pie4;
    text-align: center; }
  div.gridPartituras p.pieDeArchivo5 {
    grid-area: pie5;
    text-align: center; }
  div.gridPartituras p.pieDeArchivo6 {
    grid-area: pie6;
    text-align: center; }

/*Variables*/
/*Paletas de Colores*/
/*Fuente tipografica*/
/* Maps y otras variables*/
/* Responsive Index*/
@media only screen and (max-width: 768px) {
  .header__barraDeNavegacion .collapse {
    background-color: rgba(0, 0, 0, 0.322);
    height: 80vh;
    width: 100vw;
    visibility: visible;
    transition: all 1s; }
  /*Imagen Principal dentro del header*/
  header.header__index {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7), #0b090a), url(../image/imagenprincipal.png);
    height: 80vh;
    width: 100vw;
    background-position: center center;
    background-size: cover; }
  .header__barraDeNavegacion a {
    font-size: 1.5rem;
    font-weight: 100;
    text-decoration: none;
    color: #f5f3f4;
    transition: color 2s font-weight 2s;
    letter-spacing: 0.1vw; }
  div.contenido__primeraFrase {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9), #0b090a), linear-gradient(to right, #0b090a, #0b090a75, #0b090a3a, #0b090a00, #0b090a3a, #0b090a75, #0b090a), url(../image/fondofrase.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 30vh 0;
    font-size: 1.4rem;
    font-weight: 100;
    transition: 3s; }
  section.contenido__muestraExperiencias {
    display: grid;
    border: #f5f3f4 1px solid;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2%;
    grid-template-areas: "titulo  titulo  titulo  " "video   imagen1  texto1  " "video   imagen1  texto1 " "pievid  nombre1 nombre1 ";
    padding: 10px 30px;
    height: 80vh;
    width: 97vw;
    margin-left: 1vw; }
    section.contenido__muestraExperiencias h1.titulo {
      grid-area: titulo;
      font-family: "Lato", sans-serif;
      font-size: 1.5rem;
      font-weight: 200; }
    section.contenido__muestraExperiencias iframe.video {
      grid-area: video;
      height: 35vh;
      width: 45vw; }
    section.contenido__muestraExperiencias p.pievideo {
      grid-area: pievid;
      font-size: 1.2rem; }
    section.contenido__muestraExperiencias img.alumno1 {
      grid-area: imagen1;
      background-image: url(../image/2.png);
      background-size: cover;
      background-position-x: center;
      height: 35vh;
      width: 20vw; }
    section.contenido__muestraExperiencias h2.nombre1 {
      grid-area: nombre1;
      font-weight: 200;
      font-size: 1.2rem; }
    section.contenido__muestraExperiencias p.texto1 {
      grid-area: texto1;
      text-align: justify;
      font-size: 0.9rem; }
    section.contenido__muestraExperiencias img.alumno2 {
      grid-area: imagen2;
      display: none;
      background-image: url(../image/5.png);
      background-size: cover;
      background-position-x: center;
      height: 35vh;
      width: 15vw; }
    section.contenido__muestraExperiencias h2.nombre2 {
      grid-area: nombre2;
      display: none;
      font-weight: 200; }
    section.contenido__muestraExperiencias p.texto2 {
      grid-area: texto2;
      display: none;
      text-align: justify; }
  div.segundaFrase {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 20vh;
    padding: 10px 0;
    font-size: 1.4rem;
    font-weight: 100; }
  /* responsive Galeria Imagenes */
  div.contenido__galeriaImagenes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 2%;
    grid-template-areas: "titulogal titulogal" "galeria1   galeria2" "pie1       pie2    " "galeria3   galeria4" "pie3       pie4    " "galeria5   galeria6" "pie5       pie6    ";
    padding: 50px 30px;
    height: 170vh;
    width: 97vw;
    margin-left: 1vw; }
    div.contenido__galeriaImagenes h3.titularDelContenido {
      grid-area: titulogal;
      font-family: "Lato", sans-serif;
      font-size: 1.5rem;
      font-weight: 200; }
    div.contenido__galeriaImagenes img.galeria1 {
      grid-area: galeria1;
      background-image: url(../image/12.png);
      background-size: cover;
      height: 35vh;
      width: 40vw; }
    div.contenido__galeriaImagenes img.galeria2 {
      grid-area: galeria2;
      background-image: url(../image/11.png);
      background-size: cover;
      height: 35vh;
      width: 40vw; }
    div.contenido__galeriaImagenes img.galeria3 {
      grid-area: galeria3;
      background-image: url(../image/fondofrase.jpg);
      background-size: cover;
      height: 35vh;
      width: 40vw; }
    div.contenido__galeriaImagenes img.galeria4 {
      grid-area: galeria4;
      background-image: url(../image/15.png);
      background-size: cover;
      height: 35vh;
      width: 40vw; }
    div.contenido__galeriaImagenes img.galeria5 {
      grid-area: galeria5;
      background-image: url(../image/21.png);
      background-size: cover;
      height: 35vh;
      width: 40vw; }
    div.contenido__galeriaImagenes img.galeria6 {
      grid-area: galeria6;
      background-image: url(../image/23.png);
      background-size: cover;
      height: 35vh;
      width: 40vw; }
    div.contenido__galeriaImagenes p.pieDeArchivo1 {
      grid-area: pie1;
      text-align: center; }
    div.contenido__galeriaImagenes p.pieDeArchivo2 {
      grid-area: pie2;
      text-align: center; }
    div.contenido__galeriaImagenes p.pieDeArchivo3 {
      grid-area: pie3;
      text-align: center; }
    div.contenido__galeriaImagenes p.pieDeArchivo4 {
      grid-area: pie4;
      text-align: center; }
    div.contenido__galeriaImagenes p.pieDeArchivo5 {
      grid-area: pie5;
      text-align: center; }
    div.contenido__galeriaImagenes p.pieDeArchivo6 {
      grid-area: pie6;
      text-align: center; }
  /* Galeria Videos */
  div.galeriaVideo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 2%;
    grid-template-areas: "titulogalvid   titulogalvid" "video1         video2" "pievideo1      pievideo2" "video3         video4 " "pievideo3      pievideo4"  "video5         video6" "pievideo5      pievideo6";
    padding: 50px 30px;
    height: 170vh;
    width: 97vw;
    margin-left: 1vw; }
    div.galeriaVideo h3.titularDeVideo {
      grid-area: titulogalvid;
      font-family: "Lato", sans-serif;
      font-size: 40px;
      font-weight: 200; }
    div.galeriaVideo iframe.video1 {
      grid-area: video1;
      height: 35vh;
      width: 40vw; }
    div.galeriaVideo iframe.video2 {
      grid-area: video2;
      height: 35vh;
      width: 40vw; }
    div.galeriaVideo iframe.video3 {
      grid-area: video3;
      height: 35vh;
      width: 40vw; }
    div.galeriaVideo iframe.video4 {
      grid-area: video4;
      height: 35vh;
      width: 40vw; }
    div.galeriaVideo iframe.video5 {
      grid-area: video5;
      height: 35vh;
      width: 40vw; }
    div.galeriaVideo iframe.video6 {
      grid-area: video6;
      height: 35vh;
      width: 40vw; }
    div.galeriaVideo p.pieDeArchivo1 {
      grid-area: pievideo1;
      text-align: center; }
    div.galeriaVideo p.pieDeArchivo2 {
      grid-area: pievideo2;
      text-align: center; }
    div.galeriaVideo p.pieDeArchivo3 {
      grid-area: pievideo3;
      text-align: center; }
    div.galeriaVideo p.pieDeArchivo4 {
      grid-area: pievideo4;
      text-align: center; }
    div.galeriaVideo p.pieDeArchivo5 {
      grid-area: pievideo5;
      text-align: center; }
    div.galeriaVideo p.pieDeArchivo6 {
      grid-area: pievideo6;
      text-align: center; }
  /* Partituras */
  div.gridPartituras {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 2%;
    grid-template-areas: "titulopartitura titulopartitura" "partitura1     partitura2" "pie1           pie2 " "partitura3     partitura4 " "pie3           pie4 " "partitura5     partitura6" "pie5           pie6";
    padding: 50px 30px;
    height: 170vh;
    width: 97vw;
    margin-left: 1vw; }
    div.gridPartituras h3.titularDePartituras {
      grid-area: titulopartitura;
      font-family: "Lato", sans-serif;
      font-size: 40px;
      font-weight: 200; }
    div.gridPartituras iframe.partitura1 {
      grid-area: partitura1;
      height: 35vh;
      width: 40vw; }
    div.gridPartituras iframe.partitura2 {
      grid-area: partitura2;
      height: 35vh;
      width: 40vw; }
    div.gridPartituras iframe.partitura3 {
      grid-area: partitura3;
      height: 35vh;
      width: 40vw; }
    div.gridPartituras iframe.partitura4 {
      grid-area: partitura4;
      height: 35vh;
      width: 40vw; }
    div.gridPartituras iframe.partitura5 {
      grid-area: partitura5;
      height: 35vh;
      width: 40vw; }
    div.gridPartituras iframe.partitura6 {
      grid-area: partitura6;
      height: 35vh;
      width: 40vw; }
    div.gridPartituras p.pieDeArchivo1 {
      grid-area: pie1;
      text-align: center; }
    div.gridPartituras p.pieDeArchivo2 {
      grid-area: pie2;
      text-align: center; }
    div.gridPartituras p.pieDeArchivo3 {
      grid-area: pie3;
      text-align: center; }
    div.gridPartituras p.pieDeArchivo4 {
      grid-area: pie4;
      text-align: center; }
    div.gridPartituras p.pieDeArchivo5 {
      grid-area: pie5;
      text-align: center; }
    div.gridPartituras p.pieDeArchivo6 {
      grid-area: pie6;
      text-align: center; } }

@media only screen and (max-width: 576px) {
  .header__barraDeNavegacion .collapse {
    background-color: rgba(0, 0, 0, 0.322);
    height: 80vh;
    width: 100vw;
    visibility: visible;
    transition: all 1s; }
  section.contenido__muestraExperiencias {
    display: grid;
    border: #f5f3f4 1px solid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 2%;
    grid-template-areas: "titulo  titulo" "video   video " "video   video " "pievid  pievid" "imagen1 texto1" "imagen1 texto1" "nombre1 nombre1";
    padding: 10px 30px;
    height: 140vh;
    width: 97vw;
    margin-left: 1vw; }
    section.contenido__muestraExperiencias h1.titulo {
      grid-area: titulo;
      font-family: "Lato", sans-serif;
      font-size: 1.5rem;
      font-weight: 200; }
    section.contenido__muestraExperiencias iframe.video {
      grid-area: video;
      height: 40vh;
      width: 80vw; }
    section.contenido__muestraExperiencias p.pievideo {
      grid-area: pievid;
      font-size: 1.2rem; }
    section.contenido__muestraExperiencias img.alumno1 {
      grid-area: imagen1;
      background-image: url(../image/2.png);
      background-size: cover;
      background-position-x: center;
      height: 35vh;
      width: 48vw; }
    section.contenido__muestraExperiencias h2.nombre1 {
      grid-area: nombre1;
      font-weight: 200;
      font-size: 1.2rem; }
    section.contenido__muestraExperiencias p.texto1 {
      grid-area: texto1;
      text-align: justify; }
    section.contenido__muestraExperiencias img.alumno2 {
      grid-area: imagen2;
      display: none;
      background-image: url(../image/5.png);
      background-size: cover;
      background-position-x: center;
      height: 35vh;
      width: 15vw; }
    section.contenido__muestraExperiencias h2.nombre2 {
      grid-area: nombre2;
      display: none;
      font-weight: 200; }
    section.contenido__muestraExperiencias p.texto2 {
      grid-area: texto2;
      display: none;
      text-align: justify; }
  /*Primera Frase*/
  div.contenido__primeraFrase {
    background-image: linear-gradient(to bottom, #0b090a, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9), #0b090a), linear-gradient(to right, #0b090a, #0b090a75, #0b090a3a, #0b090a00, #0b090a3a, #0b090a75, #0b090a), url(../image/fondofrase.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 15vh 0;
    font-size: 0.9rem;
    font-weight: 100;
    transition: 3s; }
  /*Segunda Frase*/
  div.contenido__segundaFrase {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 10px 0;
    font-size: 0.8rem;
    font-weight: 100; }
  section.contenidoContacto {
    display: flex;
    flex-direction: column;
    align-items: center; }
    section.contenidoContacto h3.titularDelContenido {
      font-family: "Lato", sans-serif;
      font-size: 1.9rem;
      font-weight: 200;
      padding-top: 8vh;
      padding-bottom: 8vh; }
    section.contenidoContacto div.contenidoContacto__formulario {
      height: 100vh; }
  /* responsive Galeria Imagenes */
  div.contenido__galeriaImagenes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(13, 1fr);
    grid-gap: 2%;
    grid-template-areas: "titulogal" "galeria1" "pie1    " "galeria2" "pie2    " "galeria3" "pie3    " "galeria4" "pie4    " "galeria5" "pie5    "  "galeria6" "pie6    ";
    padding: 50px 30px;
    height: 500vh;
    width: 97vw;
    margin-left: 1vw; }
    div.contenido__galeriaImagenes h3.titularDelContenido {
      grid-area: titulogal;
      font-family: "Lato", sans-serif;
      font-size: 1.5rem;
      font-weight: 200; }
    div.contenido__galeriaImagenes img.galeria1 {
      grid-area: galeria1;
      background-image: url(../image/12.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 50vh;
      width: 80vw; }
    div.contenido__galeriaImagenes img.galeria2 {
      grid-area: galeria2;
      background-image: url(../image/11.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 50vh;
      width: 80vw; }
    div.contenido__galeriaImagenes img.galeria3 {
      grid-area: galeria3;
      background-image: url(../image/fondofrase.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 50vh;
      width: 80vw; }
    div.contenido__galeriaImagenes img.galeria4 {
      grid-area: galeria4;
      background-image: url(../image/15.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 50vh;
      width: 80vw; }
    div.contenido__galeriaImagenes img.galeria5 {
      grid-area: galeria5;
      background-image: url(../image/21.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 50vh;
      width: 80vw; }
    div.contenido__galeriaImagenes img.galeria6 {
      grid-area: galeria6;
      background-image: url(../image/23.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 50vh;
      width: 80vw; }
    div.contenido__galeriaImagenes p.pieDeArchivo1 {
      grid-area: pie1;
      text-align: center; }
    div.contenido__galeriaImagenes p.pieDeArchivo2 {
      grid-area: pie2;
      text-align: center; }
    div.contenido__galeriaImagenes p.pieDeArchivo3 {
      grid-area: pie3;
      text-align: center; }
    div.contenido__galeriaImagenes p.pieDeArchivo4 {
      grid-area: pie4;
      text-align: center; }
    div.contenido__galeriaImagenes p.pieDeArchivo5 {
      grid-area: pie5;
      text-align: center; }
    div.contenido__galeriaImagenes p.pieDeArchivo6 {
      grid-area: pie6;
      text-align: center; }
  /* Galeria Videos */
  div.galeriaVideo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(13, 1fr);
    grid-gap: 2%;
    grid-template-areas: "titulogalvid" "video1   " "pievideo1" "video2   " "pievideo2" "video3   " "pievideo3"  "video4   " "pievideo4" "video5   " "pievideo5"  "video6   " "pievideo6";
    padding: 50px 30px;
    height: 500vh;
    width: 97vw;
    margin-left: 1vw; }
    div.galeriaVideo h3.titularDeVideo {
      grid-area: titulogalvid;
      font-family: "Lato", sans-serif;
      font-size: 40px;
      font-weight: 200; }
    div.galeriaVideo iframe.video1 {
      grid-area: video1;
      height: 50vh;
      width: 80vw; }
    div.galeriaVideo iframe.video2 {
      grid-area: video2;
      height: 50vh;
      width: 80vw; }
    div.galeriaVideo iframe.video3 {
      grid-area: video3;
      height: 50vh;
      width: 80vw; }
    div.galeriaVideo iframe.video4 {
      grid-area: video4;
      height: 50vh;
      width: 80vw; }
    div.galeriaVideo iframe.video5 {
      grid-area: video5;
      height: 50vh;
      width: 80vw; }
    div.galeriaVideo iframe.video6 {
      grid-area: video6;
      height: 50vh;
      width: 80vw; }
    div.galeriaVideo p.pieDeArchivo1 {
      grid-area: pievideo1;
      text-align: center; }
    div.galeriaVideo p.pieDeArchivo2 {
      grid-area: pievideo2;
      text-align: center; }
    div.galeriaVideo p.pieDeArchivo3 {
      grid-area: pievideo3;
      text-align: center; }
    div.galeriaVideo p.pieDeArchivo4 {
      grid-area: pievideo4;
      text-align: center; }
    div.galeriaVideo p.pieDeArchivo5 {
      grid-area: pievideo5;
      text-align: center; }
    div.galeriaVideo p.pieDeArchivo6 {
      grid-area: pievideo6;
      text-align: center; }
  /* Partituras */
  div.gridPartituras {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(13, 1fr);
    grid-gap: 2%;
    grid-template-areas: "titulopartitura" "partitura1" "pie1      " "partitura2" "pie2      " "partitura3" "pie3      " "partitura4" "pie4      " "partitura5" "pie5      " "partitura6" "pie6      ";
    padding: 50px 30px;
    height: 500vh;
    width: 97vw;
    margin-left: 1vw; }
    div.gridPartituras h3.titularDePartituras {
      grid-area: titulopartitura;
      font-family: "Lato", sans-serif;
      font-size: 40px;
      font-weight: 200; }
    div.gridPartituras iframe.partitura1 {
      grid-area: partitura1;
      height: 50vh;
      width: 70vw; }
    div.gridPartituras iframe.partitura2 {
      grid-area: partitura2;
      height: 50vh;
      width: 70vw; }
    div.gridPartituras iframe.partitura3 {
      grid-area: partitura3;
      height: 50vh;
      width: 70vw; }
    div.gridPartituras iframe.partitura4 {
      grid-area: partitura4;
      height: 50vh;
      width: 70vw; }
    div.gridPartituras iframe.partitura5 {
      grid-area: partitura5;
      height: 50vh;
      width: 70vw; }
    div.gridPartituras iframe.partitura6 {
      grid-area: partitura6;
      height: 50vh;
      width: 70vw; }
    div.gridPartituras p.pieDeArchivo1 {
      grid-area: pie1;
      text-align: center; }
    div.gridPartituras p.pieDeArchivo2 {
      grid-area: pie2;
      text-align: center; }
    div.gridPartituras p.pieDeArchivo3 {
      grid-area: pie3;
      text-align: center; }
    div.gridPartituras p.pieDeArchivo4 {
      grid-area: pie4;
      text-align: center; }
    div.gridPartituras p.pieDeArchivo5 {
      grid-area: pie5;
      text-align: center; }
    div.gridPartituras p.pieDeArchivo6 {
      grid-area: pie6;
      text-align: center; } }

/*Variables*/
/*Paletas de Colores*/
/*Fuente tipografica*/
/* Maps y otras variables*/
/*Footer*/
footer {
  background-color: #0b090a;
  background: radial-gradient(to top, #0b090a 0%, #74656c 100%);
  width: 100vw;
  height: 30vh;
  padding-top: 9vh;
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f5f3f4; }
  footer .footer__nombre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 10vh; }
    footer .footer__nombre p {
      font-size: 12px; }
      footer .footer__nombre p a {
        text-decoration: none;
        color: #f5f3f4;
        transition: color 0.5s; }
      footer .footer__nombre p a:hover {
        color: #74656c; }
  footer .footer__redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 12vw;
    height: 10vh; }
    footer .footer__redes div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 33px;
      width: 33px;
      border-radius: 33px;
      background-color: #74656c;
      transition: background 0.5s; }
      footer .footer__redes div a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
      footer .footer__redes div svg {
        color: #c2c0bf;
        transition: color 0.5s; }
    footer .footer__redes div:hover {
      background-color: #c2c0bf; }
      footer .footer__redes div:hover svg {
        color: #64645c; }

/*Variables*/
/*Paletas de Colores*/
/*Fuente tipografica*/
/* Maps y otras variables*/
/* Animacion Onda Sonora*/
div.contenido__ondaSonora {
  display: flex;
  flex-direction: row;
  height: 15vh;
  width: 20vw;
  justify-content: space-around;
  align-items: center;
  padding: 5vh 0; }

div.contenido__ondaSonora div {
  background: radial-gradient(circle, #e5383b 0%, #f5f3f4 100%);
  justify-self: center;
  align-self: center;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  transform: translate(0, 25vh); }

@keyframes ondaSonora {
  0% {
    transform: translate(0, 5vh); }
  15% {
    transform: translate(0, 10vh); }
  30% {
    transform: translate(0, 17vh); }
  45% {
    transform: translate(0, 12vh); }
  60% {
    transform: translate(0, 15vh); }
  75% {
    transform: translate(0, 9vh); }
  100% {
    transform: translate(0, 6vh); } }

@keyframes ondaSonora2 {
  0% {
    transform: translate(0, 3vh); }
  15% {
    transform: translate(0, 7vh); }
  30% {
    transform: translate(0, 15vh); }
  45% {
    transform: translate(0, 10vh); }
  60% {
    transform: translate(0, 14vh); }
  75% {
    transform: translate(0, 7vh); }
  100% {
    transform: translate(0, 2vh); } }

div.contenido__ondaSonora div.beat1 {
  background: radial-gradient(circle, #e5383b 0%, #f5f3f4 100%);
  width: 7px;
  height: 7px;
  animation-name: ondaSonora2;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 0.1s; }

div.contenido__ondaSonora div.beat2 {
  background: radial-gradient(circle, #e5383b 0%, #f5f3f4 100%);
  width: 7px;
  height: 7px;
  animation-name: ondaSonora2;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 0.2s; }

div.contenido__ondaSonora div.beat3 {
  background: radial-gradient(circle, #e5383b 0%, #f5f3f4 100%);
  width: 7px;
  height: 7px;
  animation-name: ondaSonora2;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 0.3s; }

div.contenido__ondaSonora div.beat4 {
  background: radial-gradient(circle, #e5383b 0%, #f5f3f4 100%);
  width: 7px;
  height: 7px;
  animation-name: ondaSonora2;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 0.4s; }

div.contenido__ondaSonora div.beat5 {
  background: radial-gradient(circle, #e5383b 0%, #f5f3f4 100%);
  width: 7px;
  height: 7px;
  animation-name: ondaSonora;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 0.5s; }

div.contenido__ondaSonora div.beat6 {
  background: radial-gradient(circle, #e5383b 0%, #f5f3f4 100%);
  width: 7px;
  height: 7px;
  animation-name: ondaSonora;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 0.6s; }

div.contenido__ondaSonora div.beat7 {
  background: radial-gradient(circle, #e5383b 0%, #f5f3f4 100%);
  width: 7px;
  height: 7px;
  animation-name: ondaSonora;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 0.4s; }

div.contenido__ondaSonora div.beat8 {
  background: radial-gradient(circle, #e5383b 0%, #f5f3f4 100%);
  width: 7px;
  height: 7px;
  animation-name: ondaSonora;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 0.3s; }

div.contenido__ondaSonora div.beat9 {
  background: radial-gradient(circle, #e5383b 0%, #f5f3f4 100%);
  width: 7px;
  height: 7px;
  animation-name: ondaSonora2;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 0.4s; }

div.contenido__ondaSonora div.beat10 {
  background: radial-gradient(circle, #e5383b 0%, #f5f3f4 100%);
  width: 7px;
  height: 7px;
  animation-name: ondaSonora2;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 0.3s; }

div.contenido__ondaSonora div.beat11 {
  background: radial-gradient(circle, #e5383b 0%, #f5f3f4 100%);
  width: 7px;
  height: 7px;
  animation-name: ondaSonora2;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 0.2s; }

div.contenido__ondaSonora div.beat12 {
  background: radial-gradient(circle, #e5383b 0%, #f5f3f4 100%);
  width: 7px;
  height: 7px;
  animation-name: ondaSonora2;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-delay: 0.1s; }

/*Zoom en imagenes y textos*/
section.contenido__muestraExperiencias img.alumno1:hover {
  transform: scale(1.01, 1.01); }

section.contenido__muestraExperiencias img.alumno2:hover {
  transform: scale(1.02, 1.02); }

div.contenido__primeraFrase p:hover {
  transform: scale(1.01, 1.01); }

iframe.video:hover {
  transform: scale(1.01, 1.01); }

/*Variables*/
/*Paletas de Colores*/
/*Fuente tipografica*/
/* Maps y otras variables*/
/*Carrusel*/
.carousel-inner > .carousel-item > img {
  object-fit: scale-down;
  height: 70vh;
  width: 100%; }

/*Modal*/
h5.app-modal {
  font-family: "Lato", sans-serif;
  color: #0b090a; }

p.app-pModal {
  font-family: "Lato", sans-serif;
  color: #0b090a; }

/*Formularios*/
form.form-group row {
  width: 50vw;
  padding-top: 16vh;
  padding-bottom: 10vh; }

input.btn {
  width: 15vw; }

div.app-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

label.app-label {
  text-align: center; }

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Lato", sans-serif; }
