/*Variables*/
/*Paletas de Colores*/
$negro:#0b090a;
$blanco:#f5f3f4;
$rosaoscuro:#74656c;
$rosatema:#e5383b;

/*Fuente tipografica*/

$roboto: 'Lato', sans-serif;

/* Maps y otras variables*/

$galeria: (
    "galeria1":"galeria1.png",
    "galeria2":"galeria2.png",
    "galeria3":"galeria3.png",
    "galeria4":"galeria4.png",
    "galeria5":"galeria5.png",
    "galeria6":"galeria6.png",
    "galeria7":"galeria7.png",
    "galeria8":"galeria8.png",
    "galeria9":"galeria9.png",
    "galeria10":"galeria10.png",
    "galeria11":"galeria11.png",
    "galeria12":"galeria12.png"
);

$areasVideos: (
    "video1",
    "video2",
    "video3",
    "video4",
    "video5",
    "video6",
);

$partituras: (
    "partitura1",
    "partitura2",
    "partitura3",
    "partitura4",
    "partitura5",
    "partitura6",
);