/*Variables*/
/*Paletas de Colores*/
$negro:#0b090a;
$blanco:#f5f3f4;
$rosaoscuro:#74656c;
$rosatema:#e5383b;

/*Fuente tipografica*/

$roboto: 'Lato', sans-serif;
$nunito: "Nunito Sans", sans-serif;
$poppins: 'Poppins', sans-serif;
$lato: "Roboto Condensed", sans-serif;

/* Maps y otras variables*/

$galeria: (
    "galeria1":"12.png",
    "galeria2":"11.png",
    "galeria3":"fondofrase.jpg",
    "galeria4":"15.png",
    "galeria5":"21.png",
    "galeria6":"23.png"
);

$areasVideos: (
    "video1",
    "video2",
    "video3",
    "video4",
    "video5",
    "video6",
);

$partituras: (
    "partitura1",
    "partitura2",
    "partitura3",
    "partitura4",
    "partitura5",
    "partitura6",
);