@import "utilities/variables";


/*Zoom en imagenes y textos*/

section.contenido__muestraExperiencias2 img.alumno1:hover{
    transform: scale(1.01 , 1.01);     
}

section.contenido__muestraExperiencias2 img.alumno2:hover{
    transform: scale(1.02 , 1.02);    
}

div.contenido__primeraFrase p:hover{
    transform: scale(1.01,1.01);
}

iframe.video:hover{
    transform: scale(1.01,1.01);
}

