@import "utilities/variables";

/*Carrusel*/

.carousel-inner > .carousel-item > img{
    /*object-fit: scale-down;*/
    width: 700px;
    height: 500px;
    border-radius: 10px;
}
.carousel-inner{
    width: 700px;
    height: 500px;
    border-radius: 10px;
    
}

@media only screen and (max-width: 768px){
    .carousel-inner > .carousel-item > img{
        /*object-fit: scale-down;*/
        width: 700px;
        height: 500px;
        border-radius: 10px;
    }
    .carousel-inner{
        width: 700px;
        height: 500px;
        border-radius: 10px;
        
    }
}
@media only screen and (max-width: 576px){
    .carousel-inner > .carousel-item > img{
        /*object-fit: scale-down;*/
        width: 95vw;
        height: 60vh;
        border-radius: 10px;
    }
    .carousel-inner{
        width: 95vw;
        height: 60vh;
        border-radius: 10px;
        
    }
}

/*Modal*/

h5.app-modal{
    font-family: $roboto;
    color: $negro;
}

p.app-pModal{    
    font-family: $roboto;
    color: $negro;    
}

/*Formularios*/

form.form-group row{
    width: 50vw;
    padding-top: 16vh;
    padding-bottom: 10vh;
}


input.btn{
    width: 15vw;
}

div.app-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


label.app-label{
    text-align: center;
}


