@import "utilities/variables";

/*Body*/
body {
    background-color: $negro;
    color: $blanco;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/*Contenido*/
section.body__contenido{
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;   
    
    /*Primera Frase*/
    div.contenido__primeraFrase{        
        display: flex;
        flex-direction: column;
        align-items: center; 
        width: 100vw;
        height: 40vh;
        
        margin-top: 15vh;
        margin-bottom: 15vh;
        padding: 5vh 0;
        font-size: 1.5rem;
        font-weight: 300;
        transition: 3s;
        
        p{
            width: 40vw;
        }
        
        .primeraFrase__autor{
            font-size: 1.1rem;
        }
    }
    
    /*Segunda Frase*/
    div.contenido__segundaFrase{
        background-image: linear-gradient(to bottom ,   
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.2), 
        rgba(0, 0, 0, 0.6), 
        $negro),
        linear-gradient(to top,   
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.2), 
        rgba(0, 0, 0, 0.6), 
        $negro), url(../image/imagenprincipal.png);    
        background-position: center center;
        background-size: cover;

        display: flex;
        flex-direction: column;
        align-items: center;
        
        margin-top: 15vh;
        
        width: 100vw;
        height: 70vh;
        padding: 10vh 0;
        font-size: 1.5rem;
        font-weight: 300;

        p{
            width: 40vw;
        }

        .segundaFrase__autor{
            font-size: 1.1rem;
        }
    } 
    

}

section.contenidoContacto{
    display: flex;
    flex-direction: column;
    align-items: center;       
    

    h1.titularDelContenido{    
        font-family: $roboto;
        font-size: 1.9rem;
        font-weight: 200;
        padding-top: 8vh;
        padding-bottom: 8vh;
    }

    div.contenidoContacto__formulario{
        height: 100vh;
    }
    
}

/* Sobre mi*/

div.contenido__parrafosDelContenido{
    background-color: #534e51;
    margin: 10vh 1.5vw;
    border-radius: 20px;

    h3.titularDelContenido{    
        font-family: $roboto;
        font-size: 40px;
        font-weight: 200;
        padding-top: 8vh;
    }
    
    p{    
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: justify;
    }
}
