@import "utilities/variables";

/*Footer*/
footer{
    background-color:  $rosatema;
    background: radial-gradient(circle, $rosatema 0%, $rosaoscuro 100%);
    width: 100vw;
    padding-top: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
    
}  