@import "utilities/variables";


/*Grid seccion de experiencias index*/
section.contenido__muestraExperiencias1 {
    background-image: linear-gradient(to bottom ,   
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.6), 
    $negro),
    linear-gradient(to top,   
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.6), 
    $negro), url(../image/imagenprincipal3.png);    
    background-position: center center;
    background-size: cover;



    display: grid;     
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: 50px repeat(2 , 2fr);
    grid-gap: 2%;
    grid-template-areas: 
    "titulo     titulo  titulo  titulo"
    "pievid      pievid   video   video"    
    "pievid      pievid   video  video"    
    ;
    padding: 10px 10vw;
    height: 600px;
    width: 100vw;
    

    h2.titulo{
        grid-area: titulo;
        font-family: $roboto;
        font-size: 40px;
        font-weight: 300;
        width: 80vw;
        align-self: center;
    }
    
    iframe.video{
        grid-area: video;
        height: 280px;
        width: 40vw;
        box-shadow: 8px 8px 40px black, -8px -8px 40px black, 8px -8px 40px black, -8px 8px 40px black;
        transition: transform 0.2s;
    }
    
    div.pieVideo{
        grid-area: pievid;
        font-size: 1.8rem;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        padding-right: 2vw;
        p.siguenos{
            align-self: flex-end;
        }
        p.pieVideo__descripcion{
            text-align: justify;
            line-height: 35px;
            font-size: 1.2rem;
        }
        
    }
}

section.contenido__muestraExperiencias2 {
    background-image: linear-gradient(to bottom ,   
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.6), 
    $negro),
    linear-gradient(to top,   
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.6), 
    $negro), url(../image/imagenprincipal2.png);    
    background-position: center center;
    background-size: cover;



    display: grid;     
    grid-template-columns: 1fr 2fr 1fr 2fr;
    grid-template-rows: repeat(2 , 2fr);
    grid-gap: 2%;
    grid-template-areas: 
    
    "imagen1    texto1  imagen2 texto2"
    "imagen1    texto1 imagen2 texto2"
    ;
    margin-top: 15vh;
    padding: 20vh 10vw;
    height: 500px;
    width: 100vw;
  
    
    img.alumno1{
        grid-area: imagen1;
        background-image: url(../image/alumna1.png);
        background-size: cover;
        background-position: center center;   
        height: 250px;
        width: 170px;
        box-shadow: 8px 8px 40px black, -8px -8px 40px black, 8px -8px 40px black, -8px 8px 40px black;
        transition: transform 0.2s;      
    }
   

    div.texto1{
        grid-area: texto1;
        text-align: justify;
        line-height: 35px;
        font-size: 1.2rem;
        font-weight: 300;
        
    }
    
    img.alumno2{
        grid-area: imagen2;
        background-image: url(../image/alumna2.png);
        background-size: cover;
        background-position: center center;
        height: 250px;
        width: 170px;
        box-shadow: 8px 8px 40px black, -8px -8px 40px black, 8px -8px 40px black, -8px 8px 40px black;
        transition: transform 0.2s;
    }
    

    div.texto2{
        grid-area: texto2;
        text-align: justify;
        line-height: 35px;
        font-size: 1.2rem;
        font-weight: 300;
    }

}

/* Galeria Imagenes */

div.contenido__galeriaImagenes {
    display: grid;        
    grid-template-columns: repeat( 2, 1fr);
    grid-template-rows: 100px repeat(6, 310px);
    grid-gap: 0;
    grid-template-areas:
    "titulogal titulogal"    
    "galeria1  galeria2 "    
    "galeria3  galeria4 "    
    "galeria5  galeria6 "
    "galeria7  galeria8"
    "galeria9  galeria10"
    "galeria11  galeria12"  
    ;
    padding: 50px 150px;
    height: 2000px;
    width: 97vw;
    align-self: center;
    

    h3.titularDelContenido{
        grid-area: titulogal;
        font-family: $roboto;
        font-size: 40px;
        font-weight: 200;
        padding-bottom: 30px;
    }
        
    @each $area,$foto in $galeria{
        div.#{$area}{
            grid-area: #{$area};
            background-image: url(../image/#{$foto});
            background-size: cover;
            height: 310px;
            width: 100%;
            opacity: .6;
            transition: ease .7s;
        }
        div.#{$area}:hover{
            transform: scale(1.01);
            opacity: 1;            
        }
    }

    @each $area,$foto in $galeria{
        div.#{$area}__full{
            grid-area: #{$area};
            background-image: url(../image/#{$foto});
            background-size: cover;
            width: 700px;
            height: 394px;

        }

    }




    
    @for $i from 1 through 6{
        p.pieDeArchivo#{$i}{
            grid-area: pie#{$i};
            text-align: center;
            visibility: hidden;
        }
    }

    .overlay{
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
    }

    .overlay.active{
        visibility: visible;
        z-index: 2;
    }

    .popup{
        width: 700px;
        height: 394px;
        opacity: 0;
        transform: scale(0.7);
        transition: 0.5s ease all;
        


        
        div.imagen{
            width: 700px;
            height: 394px;
            z-index: 3;

            .btn-cerrar-popup{
                
                                
                font-size: 16px;
                
                display: flex;
                justify-content: flex-end;                
                color: gray;
                transition: .3s ease all;
                text-decoration: none;
                i{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(0, 0, 0, 0.5);
                    margin: 5px 5px 0 0;
                    padding: 5px;
                    width: 20px;
                    height: 20px;
                    
                }
            }
            .btn-cerrar-popup:hover{
                color: black;
            }

            .cambioDeFoto{

                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20vh 10px;
                #btn-anterior , #btn-siguiente{
                    font-size: 50px;
                    opacity: 0.8;
                    color: $rosaoscuro;
                    
                }

                #btn-anterior:hover , #btn-siguiente:hover{
                    color: $rosatema;
                }
            }

            
        }        
    }

    .popup.active{
        opacity: 1;
        transform: scale(1);

    }
}


/* Galeria Videos */

div.galeriaVideo {
    display: grid;        
    grid-template-columns: repeat( 2, 1fr);
    grid-template-rows: 100px repeat(3, 270px);
    grid-gap: 30px;
    grid-template-areas: 
    "titulogalvid   titulogalvid"
    "video1         video2"    
    "video3         video4 "     
    "video5         video6"       
    ;
    padding: 0 100px;
    height: 1000px;
    width: 100vw;
    margin-bottom: 100px;
    align-self: center;

    h3.titularDeVideo{
        grid-area: titulogalvid;
        font-family: $roboto;
        font-size: 40px;
        font-weight: 200;
    }

    @each $area in $areasVideos{
        iframe.#{$area}{
            grid-area: #{$area};
            width: 100%;
            height: 270px;
            opacity: .6;
            transition: ease .7s;                 
        }

        iframe.#{$area}:hover{
            transform: scale(1.01);
            opacity: 1;            
        }
    } 

}

/* Partituras */

div.gridPartituras {
    display: grid;        
    grid-template-columns: repeat( 2, 1fr);
    grid-template-rows: 100px 250px 50px 250px 50px;
    grid-gap: 30px;
    grid-template-areas: 
    "titulopartitura titulopartitura"
    "partitura1  partitura2"
    "pie1        pie2      "
    "partitura3  partitura4"
    "pie3        pie4      "    
    ;
    padding: 0 150px;
    height: 880px;
    width: 100vw;
    margin-bottom: 100px;
    align-self: center;
    

    h3.titularDePartituras{
        grid-area: titulopartitura;
        font-family: $roboto;
        font-size: 40px;
        font-weight: 200;
    }

    @each $partitura in $partituras {
        iframe.#{$partitura}{
            grid-area: #{$partitura};
            height: 250px;
            width: 100%;
            border: none;
        }
    }

    @for $i from 1 through 6 {
        p.pieDeArchivo#{$i}{
            grid-area: pie#{$i};
            text-align: center;
        }
    }
}
