@import "utilities/variables";


/*Grid seccion de experiencias index*/
section.contenido__muestraExperiencias1 {
    background-image: linear-gradient(to bottom ,   
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.6), 
    $negro),
    linear-gradient(to top,   
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.6), 
    $negro), url(../image/imagenprincipal.png);    
    background-position: center center;
    background-size: cover;



    display: grid;     
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: repeat(3 , 2fr);
    grid-gap: 2%;
    grid-template-areas: 
    "titulo     titulo  titulo  titulo"
    "pievid      pievid   video   video"    
    "pievid      pievid   video  video"    
    ;
    padding: 10px 10vw;
    height: 100vh;
    width: 100vw;
    

    h1.titulo{
        grid-area: titulo;
        font-family: $roboto;
        font-size: 40px;
        font-weight: 300;
    }
    
    iframe.video{
        grid-area: video;
        height: 50vh;
        width: 40vw;
        box-shadow: 8px 8px 40px black, -8px -8px 40px black, 8px -8px 40px black, -8px 8px 40px black;
        transition: transform 0.2s;
    }
    
    div.pieVideo{
        grid-area: pievid;
        font-size: 1.8rem;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        padding-right: 2vw;
        p.siguenos{
            align-self: flex-end;
        }
        p.pieVideo__descripcion{
            text-align: justify;
            line-height: 8vh;
            font-size: 1.2rem;
        }
        
    }
}

section.contenido__muestraExperiencias2 {
    background-image: linear-gradient(to bottom ,   
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.6), 
    $negro),
    linear-gradient(to top,   
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.6), 
    $negro), url(../image/imagenprincipal.png);    
    background-position: center center;
    background-size: cover;



    display: grid;     
    grid-template-columns: repeat( 4, 1fr);
    grid-template-rows: repeat(2 , 2fr);
    grid-gap: 2%;
    grid-template-areas: 
    
    "imagen1    texto1  imagen2 texto2"
    "imagen1    texto1 imagen2 texto2"
    ;
    margin-top: 15vh;
    padding: 20vh 10vw;
    height: 100vh;
    width: 100vw;
  
    
    img.alumno1{
        grid-area: imagen1;
        background-image: url(../image/2.png);
        background-size: cover;
        background-position: center center;   
        height: 40vh;
        width: 13vw;
        box-shadow: 8px 8px 40px black, -8px -8px 40px black, 8px -8px 40px black, -8px 8px 40px black;
        transition: transform 0.2s;      
    }
    
    
    h2.nombre1{
        grid-area: nombre1;
        font-weight: 300;
        font-size: 25px;
        
    }
    div.texto1{
        grid-area: texto1;
        text-align: justify;
        line-height: 8vh;
        font-size: 1.2rem;
        font-weight: 300;
    }
    
    img.alumno2{
        grid-area: imagen2;
        background-image: url(../image/5.png);
        background-size: cover;
        background-position: center center;
        height: 40vh;
        width: 13vw;
        box-shadow: 8px 8px 40px black, -8px -8px 40px black, 8px -8px 40px black, -8px 8px 40px black;
        transition: transform 0.2s;
    }
    
    
    h2.nombre2{
        grid-area: nombre2;
        font-weight: 300;
        font-size: 25px;
    }
    div.texto2{
        grid-area: texto2;
        text-align: justify;
        line-height: 8vh;
        font-size: 1.2rem;
        font-weight: 300;
    }

}

/* Galeria Imagenes */

div.contenido__galeriaImagenes {
    display: grid;        
    grid-template-columns: repeat( 2, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-gap: 0;
    grid-template-areas:    
    "galeria1  galeria2 "    
    "galeria3  galeria4 "    
    "galeria5  galeria6 "  
    ;
    padding: 50px 150px;
    height: 180vh;
    width: 97vw;
    align-self: center;
    

    h3.titularDelContenido{
        grid-area: titulogal;
        font-family: $roboto;
        font-size: 40px;
        font-weight: 200;
    }
        
    @each $area,$foto in $galeria{
        div.#{$area}{
            grid-area: #{$area};
            background-image: url(../image/#{$foto});
            background-size: cover;
            height: 300px;
            width: 100%;
            opacity: .6;
            transition: ease .7s;
        }
        div.#{$area}:hover{
            transform: scale(1.01);
            opacity: 1;            
        }
    }
    
    @for $i from 1 through 6{
        p.pieDeArchivo#{$i}{
            grid-area: pie#{$i};
            text-align: center;
            visibility: hidden;
        }
    }
}

/* Galeria Videos */

div.galeriaVideo {
    display: grid;        
    grid-template-columns: repeat( 3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2%;
    grid-template-areas: 
    "titulogalvid titulogalvid titulogalvid"
    "video1         video2      video3"
    "pievideo1      pievideo2      pievideo3"
    "video4         video5          video6"
    "pievideo4      pievideo5      pievideo6"    
    ;
    padding: 50px 30px;
    height: 170vh;
    width: 97vw;
    margin-left: 1vw;

    h3.titularDeVideo{
        grid-area: titulogalvid;
        font-family: $roboto;
        font-size: 40px;
        font-weight: 200;
    }

    @each $area in $areasVideos{
        iframe.#{$area}{
            grid-area: #{$area};
            height: 50vh;
            width: 30vw;                   
        }
    }

    @for $i from 1 through 6{
        p.pieDeArchivo#{$i}{
            grid-area: pievideo#{$i};
            text-align: center;
        }
    }

}

/* Partituras */

div.gridPartituras {
    display: grid;        
    grid-template-columns: repeat( 3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2%;
    grid-template-areas: 
    "titulopartitura titulopartitura titulopartitura"
    "partitura1  partitura2  partitura3"
    "pie1      pie2      pie3"
    "partitura4  partitura5  partitura6"
    "pie4      pie5      pie6"    
    ;
    padding: 50px 30px;
    height: 170vh;
    width: 97vw;
    margin-left: 1vw;

    h3.titularDePartituras{
        grid-area: titulopartitura;
        font-family: $roboto;
        font-size: 40px;
        font-weight: 200;
    }

    @each $partitura in $partituras {
        iframe.#{$partitura}{
            grid-area: #{$partitura};
            height: 50vh;
            width: 30vw;
        }
    }

    @for $i from 1 through 6 {
        p.pieDeArchivo#{$i}{
            grid-area: pie#{$i};
            text-align: center; 
        }
    }
}
